<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="welcome-header">&#x2728; Welcome to TinyApp!</span>
                
            </a></br>
            <% if (isLoggedIn) { %>
            <a class="navbar-brand">Hello, <%= user.email %></a>
            <form class="navbar-brand" action="/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
            <% } else { %>
            <p class="headerlinks"><a href="/login">LOGIN &#x1F511;</a></br>
            <a href="/register" >Or register here... &#x1F195;</a></p>
            <% } %>
            
        </div>
    
    </div>
    </nav>