<!-- views/pages/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <% include ../partials/_head %>
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>

<main>
    <ul>
    <li><%= shortURL %> : <%= longUrl %></li>
    </ul>

    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <label for="longURL">Update long URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
    </form>

</main>

<footer>
    <% include ../partials/_footer %>
</footer>

</body>
</html>