<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <% include ../partials/_head %>
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>

<main>
    <ul>
   <% for(shortURL in urls) { %>
    <li><%= shortURL %> : <%= urls[shortURL] %></li>
    <% } %>
    </ul>

    <a href="/urls/new" >Shorten a URL here</a>

</main>

<footer>
    <% include ../partials/_footer %>
</footer>

</body>
</html>