<!-- views/pages/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_head %>
    <link rel='stylesheet' href='/styles/style.css'/>
</head>
    <body class="container">

    <header>
        <% include ../partials/_header %>
    </header>

    <main>
        <p><a href="/urls"> &#x1F519; Go back </a></p><br>
        <ul>
        <li><a href="/u/<%= shortURL %>"><%= shortURL %> &#x27A1; <%= longUrl %></a></li>
        </ul>

        <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
            <label for="longURL">Update long URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://">
            <input class="button" type="submit" value="Update">
        </form>

    </main>

    <footer>
        <% include ../partials/_footer %>
    </footer>

    </body>
</html>