<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <% include ../partials/_head %>
    <link rel='stylesheet' href='/styles/style.css' />
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>

<main>
    <% if (isLoggedIn) { %>
    <ul>
    <% for(shortURL in urls) { %>
    <li class="urls"><%= shortURL %> &#x27A1; <%= urls[shortURL].url %>
    <a class="urls" href="/urls/<%= shortURL %>">Edit</a>
    <form method="POST" action="/urls/<%= shortURL %>/delete"><button class="btn">Delete &#x1F680;</button>
    </form><br>
    </li>
    <% } %>
    </ul>

    <a href="/urls/new" >Shorten a URL here</a>
    <% } else { %>
    <h2> &#x2B06; Please Login or Register above</h2> 
    <% } %>

</main>

<footer>
    <% include ../partials/_footer %>
</footer>

</body>
</html>