body {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 20px;
}

.delete-btn {
    background-color: coral;
    border-radius: 15px;
    border: 1px solid grey;
    color: darkslategrey;
    margin-top: 2px;
    padding-top: 3px;
}

.urls {
    display: inline;
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-header {
    font-size: 1.8em;
    font-weight: bold;
}

.headerlinks {
    margin-left: 20px;
}

.urls {
    font-size: 20px;
    margin-right: 10px;
}

#logout-btn .button {
    border-radius: 15px;
    padding: 5px 10px;
}

:hover#logout-btn {
    box-shadow: 1px 1px;
}

:hover.delete-btn {
    box-shadow: 1px 1px;
}