body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color:rgb(233, 69, 64);
    border-radius: 20px;
    border: 1px solid black;
    font-size: small;
}

.urls {
    display: inline;
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome-header {
    font-size: 1.8em;
    font-weight: bold;
}

.headerlinks {
    margin-left: 20px;
   
}